version: '3.8'

services:
  # 1. Database PostgreSQL
  db:
    image: postgres:15-alpine
    container_name: my_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Aniversity2104
      POSTGRES_DB: AnimeVideoDb
    volumes:
      - postgres_data:/var/lib/postgresql/data # Giữ lại dữ liệu khi tắt container
    ports:
      - "5432:5432"
    networks:
      - app-network

  # 2. Backend .NET
  backend:
    build: ./path-to-backend-folder # Đường dẫn tới folder chứa Dockerfile Backend
    container_name: my_backend
    depends_on:
      - db
    environment:
      # Lưu ý: Server=db (tên service ở trên), không phải localhost
      ConnectionStrings__DefaultConnection: "Host=db;Database=AnimeVideoDb;Username=postgres;Password=Aniversity2104"
    ports:
      - "5000:8080" # Map cổng 8080 của container ra 5000 của máy chủ
    networks:
      - app-network

  # 3. Frontend React + Nginx
  frontend:
    build: ./path-to-frontend-folder
    container_name: my_frontend
    ports:
      - "80:80" # Chạy web ở cổng 80
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge